@model GarryBoats.Models.RepairPersonDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RepairPersonDetail</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.RepairPersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairPersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairPersonLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairPersonLocation)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
        
    }
</div>
