@model GarryBoats.Models.RepairPersonDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RepairPersonDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepairPersonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairPersonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairPersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairPersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairPersonLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairPersonLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.RepairPersonID  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
