@model GarryBoats.Models.RepairDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RepairDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RepairID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.RepairID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
