@model GarryBoats.Models.RepairDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RepairDetail</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.RepairDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepairDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc.Date)
        </dd>
        @if (Model.ModifiedUtc == null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </dt>
            <dd>
                <p>
                    Not Modified
                </p>
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUtc)
            </dt>

            <dd>
                <p>
                    @Model.ModifiedUtc.ToString()
                </p>
            </dd>
        };

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.RepairID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
